.edu-container {
  padding: 2em;
  margin: 0.1em auto;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  border: 1px solid var(--border) !important;
  display: flex;
}

.edu-container:hover {
  transform: translateY(-7px);
}
.edu-container__img {
  width: 100px;
  height: 100px;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-right: 1rem;
}

.edu-container__degree {
  font-weight: 500;
}

.edu-container__gpa {
  font-weight: 500;
}

.edu-container__description {
  margin-top: 0.1em;
}

.edu-container__achievements-header {
  margin-top: 1em;
  font-weight: 500;
}
.edu-container__stack {
  margin-left: 1.2em;
  list-style-type: disc;
}

@media (max-width: 600px) {
  .edu-container {
    flex-direction: column;
    padding: 1rem;
  }
}
