.skills__list {
  /* max-width: 450px; */
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  border: 1px solid var(--border) !important;
}

@media (max-width: 600px) {
  .skills__list-item {
    margin: 0.2em;
    border: 1px solid var(--border) !important;
    padding: 0.3em 0.7em !important;
  }
}
